.App {
  /* text-align: center; */
  color: #979797;
}

.super-main-container {
  background-color: floralwhite;
}

/* .create-new-task {

} */

.inside-card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.inside-card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.inside-dragable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: white;
}

.inside-dragable:hover {
  background-color: rgba(0, 0, 0, 0.047);
}

.inside-inside-dragable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: white;
}

.inside-inside-dragable:hover {
  background-color: rgba(255, 255, 255, 0.847);
}

/* .L-shaped1{
  width: 2px;
  height: 20px;
  background-color: #979797;
  position: relative;
  top: -12px;
} */

/* .L-shaped2{
  height: 2px;
  width: 30px;
  background-color: #979797;
  position: relative;
  top: -12px;
} */

.L-shaped1 {
  /* box-shadow: ; */
  width: 30px;
  height: 20px;
  margin-top: -12px;
  border-left: 1px solid #979797;
  border-bottom: 1px solid #979797;
  border-radius: 0px 0px 0px 4px;
}

.L-shaped2 {
  width: 30px;
  height: 20px;
  border-left: 1px solid #979797;
}

.assign-icon {
  border: 1px black;
  border-style: dashed;
  border-radius: 50%;
  display: flex;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}


.input-subtask-box {
  display: flex;
  border: 1px solid blue;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.input-subtask-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 49px;
}


.input-subtask-right {
  display: flex;
  width: 18%;
  justify-content: space-between;
  align-items: center;
}